.hcv-body-content-area {
  background: #FFFFFF;
  font-size: 12px;
}
.hcv-dulich-topbg {
  height: 200px;
  background: url(../img/dulich-topbg.jpg) center bottom no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 0;
}
.hcv-xem-an-choi-topbg {
  height: 200px;
  background: url(../img/xem-an-choi-topbg.jpg) center bottom no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 0;
}
.hcv-dulich-topbg span, .hcv-xem-an-choi-topbg span {
  display: table-cell;
  vertical-align: middle;
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.hcv-xem-an-choi-topbg div, .hcv-dulich-topbg div {
  background:  rgba(0,0,0,0.25);
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 0;
}
.hcv-article {
  width: 1040px;
  margin: 0 auto;


}
.hcv-tn-meta {
  margin-bottom: 10px;
}
.hcv-tn-meta .hcv-tn-time {
  font-size: 11px;
  font-weight: bold;
  color: #999;
}
.hcv-tn-title a {
  font-size: 22px;
  line-height: 24px;
  color: #333;
  text-decoration: none;
  display: block;
  width: 90%;
  font-weight: bold;
  margin-bottom: 8px;
}
.hcv-tn-sapo {
  font-size: 13px;
  line-height: 18px;
  color: #777;
}
.hcv-article .row {
  padding: 25px 0px;
  border-bottom: 1px dotted #e4e4e4;
}
.hcv-article .col-md-10 {
    box-shadow: 2px 0 8px 0 rgba(0,0,0,0.2);
}
.hcv-container-image {
    position: relative;
}
.hcv-text-bottom-image {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    bottom: 0;
    font-size: 18px;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0)  0%, #070E24 100%);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.image-text-main:hover > .hcv-container-image > .hcv-text-bottom-image {
    height: 100%;
    font-size: 24px;
    padding-left: 20%;
}

.image-text-main:hover > div.link-main > a{
    color: #2a4e91;
}

.image-text-main:hover {
    cursor: pointer;
}


